.cover {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    position: relative;
    background-image: url(/image/cover/__background.jpg);
    background-size: cover;
}

@media screen and (min-width: 1280px) {
    .cover {
        margin: 0 auto;
        max-width: 1184px;
    }
}